/*Header*/

header {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    background: white;
}

.logo img {
    width: 100px;
    margin-left: 180px;
}

.logo2 img {
    width: 300px;
    margin-top: 20px;
}