/*Header*/

header {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    background: white;
}

.logo img {
    width: 80px;
    margin-left: 160px;
}

.logo2 img {
    width: 280px;
    margin-top: 10px;
}