card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.9rem;
}

.icon-card {
    height: 100px;
    width: 100px;
    justify-content: space-around;
    display: grid;
    place-content: center;
    align-content: space-around;
    align-items: stretch;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

a.span {
    align-items: stretch;
    justify-items: center;
    place-content: center;
}

.colorLinkCard {
    color: #fdfdfd;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .imagenCenter {
        bottom: 100px;
        width: 120px;
    }
}