/* footer{
    font-size: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
} */
footer{
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.boton button{
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 8px;
    /* font-size: 20px; */
    font-size: 16px;
   cursor: pointer;
    
}

.boton2 button{
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 8px;
    /* font-size: 20px; */
    font-size: 16px;
   cursor: pointer;
    
}