/* Estilos globales */

/*
<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">
*/
html,
body {
  height: 100%;
}


/* login bootstrap  ejemplo de login con usuario y contraseña, como referencia.  BORRAR*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* body { */
#loginForm{
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* FIN CSS login bootstrap  ejemplo de login con usuario y contraseña, como referencia.  BORRAR*/


/* custom login con gmail, del index */
#loginForm{
    margin-top: 10%;
}
.logo-google{
  height: 27px;
  margin-right: 10px;
}


/* daniel css segun tailwind */
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}
.mainContainer > main {
  height: 100%;
  overflow-y: scroll;
}


/* footer */
footer{
  background-color: lightsalmon;
}


/* header */
header{
  background-color: #e6dbfb;
  height: 10%;
  height: 110px;
  /* border: medium solid gray; */

}


/* sidebar */
#sidebar{
  display: flex; 
  background-color:#836fa9; 
  flex-direction: column; 
  /* justify-content: space-between;  */
  width: 14rem; 
  /* height: 100%;  */
 
}

#sidebar > ul{
  padding-top: 20%;
  height: 30%;
  /* background-color: yellow; */
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar > ul > li > a{
  /* color: white; */
  /* text-decoration: none; */
}

#sidebar > nav{
  /* display: none;  */
  padding: 1rem; 
  /* background-color: #E5E7EB;  */
  flex-direction: column; 
  height: 100%; 
  border-width: 1px; 
  border-color: #D1D5DB; 
}
#sidebar .btn_menu{
  display: flex; 
  padding: 0.25rem; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; 
  background-color: #435d7d; 
  color: white!important; 
  display: flex; 
  align-items: center; 
  width: 100%; 
  border-radius: 0.375rem; 
  font-weight: 600;
  font-family: sans-serif;
}
#sidebar .btn_menu:hover{
  background-color: #312E81;
}
.btn_menu i{
  width: 2.5rem; 
}

#sidebar nav a{
  color: #FFFFFF;
  text-decoration: none;
}
#sidebar h6{
  text-align: center;
  color: white;
  font-weight: 600;
}
#sidebar h6:hover{
  
  color: gray;
  font-size: 1.05em;
}

#sidebar .menu-items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23%;
}


/* @media (min-width: 640px) { 
  display: flex; 
  display: flex; 
  width: 18rem; 
} */


/* custom content content, tailwind classes */
.columnContainer{
  display: flex; 
  width: 100vw; 
  height: 100vh; 
}

.flexContainer{
  display: flex; 
  flex-wrap: nowrap; 
  width: 100%; 
  height: 100%; 
}

.flexContainer > main{
  width: 100%; 
}

